name: Zip Extension

on:
  push:
    branches:
      - main

jobs:
  build-zip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build zip file
        run: make zip

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension-zip
          path: dist/cb-qr-ext.zip
          if-no-files-found: error
